<form action="/letters" method="post">
  <div class="margin">
    <label for="payment_ref">payment_ref</label>
    <input type="text" id="payment_ref" name="payment_ref">
  </div>
  <div class="margin">
    <label for="lessee_full_name">lessee_full_name</label>
    <input type="text" id="lessee_full_name" name="lessee_full_name">
  </div>
  <div class="margin">
    <label for="correspondence_address_1">correspondence_address_1</label>
    <input type="text" id="correspondence_address_1" name="correspondence_address_1">
  </div>
  <div class="margin">
    <label for="correspondence_address_2">correspondence_address_2</label>
    <input type="text" id="correspondence_address_2" name="correspondence_address_2">
  </div>
  <div class="margin">
    <label for="correspondence_address_3">correspondence_address_3</label>
    <input type="text" id="correspondence_address_3" name="correspondence_address_3">
  </div>
  <div class="margin">
    <label for="correspondence_postcode">correspondence_postcode</label>
    <input type="text" id="correspondence_postcode" name="correspondence_postcode">
  </div>
  <div class="margin">
    <label for="lessee_short_name">lessee_short_name</label>
    <input type="text" id="lessee_short_name" name="lessee_short_name">
  </div>
  <div class="margin">
    <label for="property_address">property_address</label>
    <input type="text" id="property_address" name="property_address">
  </div>
  <div class="margin">
    <label for="arrears_letter_1_date">arrears_letter_1_date</label>
    <input type="text" id="arrears_letter_1_date" name="arrears_letter_1_date">
  </div>
  <div class="margin">
    <label for="total_collectable_arrears_balance">total_collectable_arrears_balance</label>
    <input type="text" id="total_collectable_arrears_balance" name="total_collectable_arrears_balance">
  </div>
  <input type="submit">
</form>